
.container {
    width: 90%;
    margin: 0 auto;
}

   /* Pseudoclases */
   .menu a:hover {
    text-decoration: underline;
    color:rgb(160, 215, 247);
}


h2 {
    text-align: justify;
    font-size: 16 pt;
    margin: 20px 0;
}


body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    /*background-color: rgb(73, 132, 143) ;*/
    background-color: rgb(216, 232, 240);
}


body h2, h3{
    padding: 3px;
    border-bottom: 2px solid rgb(6, 16, 51);
}


header, footer {
    background-color: rgb(6, 16, 51);
    color: white;
    text-align: center;
    padding: 1em 0;
}

.FooterContenedor{
    display: flex;
    justify-content: center;
    bottom: 0;
}


/*Organizar el logo*/
#logoContenedor {
    float: left;
    text-align: center;
}

#logo{
    width: 100%;
    height: auto;
    display: block;
    max-width: 100px;
}
/*---------*/


/*Administrar el nav*/
nav {
    border-top-style:dashed;
    border-color: rgb(0, 0, 0);
    background-color: rgb(6, 16, 51);
    padding: 0.5em;
}
nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-size: 16px;
}

nav ul li{
    display: inline;
    margin-right: 25pt;
}

 #active{
    color: rgb(255, 229, 84);
    font-weight: bold;
 }

th {
    background-color: rgb(6, 16, 51);
    color: white;
}

th, td {
    border: 1px solid rgb(6, 16, 51);
    text-align: center;
    padding: 5px;;
}


/*---------*/
/*Equipos*/
.elemento{
    /*border: 1px solid green; ver las filas y columnas*/
    border-radius:10px;
    min-width: 105px;
    margin-top:5px;

}
.contenidoTitulo{
    padding-left: 10px;
    padding-top: 10px;
    height: fit-content;
    margin-left: 5px;
    margin-top: 5px;            
}
#contenedorPrincipalE{
    width: 90%;
    margin:auto;
}

#contenedorContenidoE{
    width: 90%;
    margin: 0 auto;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    
}

.menu li {
    position: relative;
    display: inline-block;
}

.menu a {
    color: white;
    text-decoration: none;
    padding: 10px;
    display: block;
}

.menu1 {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #132144;
    padding: 0;
    margin: 0;
    list-style: none;
    z-index: 1000;
}

.menu1 li {
    display: block;
}

.menu li:hover .menu1 {
    display: block;
}

.menu1 a {
    padding: 10px;
    color: white;
}


